@youha-info:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=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 # 패키지 다운로드를 위한 Personal access token, 90일 후 2022년 12월 29일에 만료

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=3B917DC0-5B46-46A6-B637-916A0E489749